h1 {
    color: rgb(0, 0, 0)
}

* {
    font-family: 'Roboto';
    padding: 0;
    margin: 0
}

nav {
  background-color: #051427;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  position: relative;
  margin-right: 20px;
  color: #fff;
  cursor: pointer;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  display: block;
}

nav ul li:hover > a {
  color: #cccccc;
}


nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #051427;
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 150px;
  border-radius: 0 0 4px 4px;
  z-index: 1000;
  border: rgb(206, 206, 206) solid 1px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  margin: 0;
}

nav ul li ul li a {
  padding: 10px 15px;
  color: #fff;
  white-space: nowrap;
}

nav ul li ul li a:hover {
  color: #cccccc;
}